<form class="sortable" hx-post="/sortable/items" hx-trigger="end">
    <div class="htmx-indicator">Updating...</div>
    {% for obj in data %}
    <div><input type='hidden' name='item' value='{{obj.item}}' />Item {{obj.item}}</div>
    {% endfor %}
</form>

<script>
    // in the example the sortable initialization runs on htmx.onLoad() like this: htmx.onLoad(function (content) {
    // but load doesn't get triggered here (because htmx is already loaded in the index page), so instead we initialize it directly:
    var sortables = content.querySelectorAll(".sortable");
    for (var i = 0; i < sortables.length; i++) {
      var sortable = sortables[i];
      var sortableInstance = new Sortable(sortable, {
          animation: 150,
          ghostClass: 'blue-background-class',

          // Make the `.htmx-indicator` unsortable
          filter: ".htmx-indicator",
          onMove: function (evt) {
            return evt.related.className.indexOf('htmx-indicator') === -1;
          },

          // Disable sorting on the `end` event
          onEnd: function (evt) {
            this.option("disabled", true);
          }
      });

      // Re-enable sorting on the `htmx:afterSwap` event
      sortable.addEventListener("htmx:afterSwap", function() {
        sortableInstance.option("disabled", false);
      });
    }
</script>